@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #9400ff;
}

.ques {
  border: 0.5px grey solid;
  background-color: #e8ebe9;
  width: 70%;
  display: flex;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.que {
  display: flex;
  flex-direction: column;
  margin: 1em 2em;
  width: 100%;
}

h2 {
  width: 35%;
  margin: 0.5em;
}

p {
  font-size: small;
  margin-bottom: 1em;
}

.theQuestion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

button {
  color: #cc0000;
  background-color: #dce0dd;
  border-radius: 50%;
  width: 2em;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:focus {
  outline: none;
}
